.dark-blue-navbar {
  background-color: #0b1c2d; /* dark navy blue */
}
 body {
      background-color: #f4f6f9;
    }
    .sidebar {
      width: 240px;
      background-color: #0b1c2d;
      min-height: 100vh;
      color: #fff;
    }
    .sidebar a {
      color: #adb5bd;
      text-decoration: none;
      display: block;
      padding: 10px 15px;
      border-radius: 5px;
    }
    .sidebar a:hover {
      background-color: #112d4e;
      color: #fff;
    }
    .stat-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }

     body {
      background-color: #f4f6fb;
    }
    .navbar {
      background-color: #0b1c2d;
    }
    .navbar-brand, .nav-link {
      color: white !important;
    }
    .card img {
      height: 220px;
      object-fit: cover;
    }



    .hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay dark layer */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 1;
}

.hero-content {
  position: absolute;
  z-index: 2;
  max-width: 600px;
  padding: 20px;
}
